# zsh autocreate
.zhistory
.zcompdump
.chpwd-recent-dirs

# local .zsh.d/*
.zsh.d/**.local.zsh

# vim config
.config/.vim/*
!.config/.vim/vimrc
!.config/.vim/colors/
.config/.vim/colors/*
!.config/.vim/colors/.gitkeep

# alacritty color theme
.config/alacritty/themes

.DS_Store
